<main class="main">
    <h1 class="main__title"> Crea tu tarjeta de visita </h1>
    <p class="main__content">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    <nav class="main__icons">
        <div class="main_icons-1">
            <i class="far fa-object-ungroup" aria-hidden="true"></i>
            <p class="main__text--icons">Diseña</p>
        </div>
        <div class="main_icons-2">
            <i class="far fa-keyboard"></i>
            <p class="main__text--icons">Rellena</p>
        </div>
        <div class="main_icons-3">
            <i class="fas fa-share-alt" aria-hidden="true"></i>
            <p class="main__text--icons">Comparte</p>
        </div>
        <div class="main__button">
            <a class="main__button--a" href="#" title="comenzar"> Comenzar
            </a>


        </div>

    </nav>



























</main>