<section>

    <div class="containerSectionStyles">


        <div class="containerDesign">
            <div><i class="icon far fa-object-ungroup"></i></div>
            <div><span class="textDesign">DISEÑA</span></div>
            <div class="iconDirection">
                <button class="buttonDesign"> <i class="iconDirection1 fas fa-chevron-up"></i>


                    <div class="colorDesign">
                        <div class="textColorsDesign">COLORES</div>
                        <div class="colorsCard1">
                            <label for="paymentmethod1">
                                <input class="check" id="paymentmethod1" type="radio" value="debitcard"
                                    name="paymentmethods" />
                            </label>
                        </div>
                        <div class="colorPalette1">
                            <span class="containerColorPalette1"></span>
                            <span class="containerColorPalette2"></span>
                            <span class="containerColorPalette3"></span>
                        </div>
                        <div class="colorsCard2">
                            <label for="paymentmethod1">
                                <input class="check" id="paymentmethod1" type="radio" value="debitcard"
                                    name="paymentmethods" />
                            </label>
                        </div>
                        <div class="colorPalette2">
                            <span class="containerColorPalette4"></span>
                            <span class="containerColorPalette5"></span>
                            <span class="containerColorPalette6"></span>
                        </div>
                        <div class="colorsCard3">
                            <label for="paymentmethod1">
                                <input class="check" id="paymentmethod1" type="radio" value="debitcard"
                                    name="paymentmethods" />
                            </label>
                        </div>
                        <div class="colorPalette3">
                            <span class="containerColorPalette7"></span>
                            <span class="containerColorPalette8"></span>
                            <span class="containerColorPalette9"></span>
                        </div>
                    </div>
                </button>
            </div>
        </div>

        <hr class="separationDesign">



        <div class="containerFillIn">
            <div class="subContainerFillIn">
                <div><i class="icon far fa-keyboard"></i></div>
                <div><span class="textDesign">RELLENA</span></div>
            </div>
            <div class="subContainer2FillIn">
                <div class="iconDirection"><i class="fas fa-chevron-down"></i></div>
            </div>
        </div>

        <div class="formCard">
            <form action="">
                <div class="nameCard">
                    <label class="name" for="name">Nombre completo</label>
                    <input class="name-input" placeholder="Ej: Idelisa Bonnelly" type="text" name="name" id="name"
                        required>
                </div>

                <div class="professionCard">
                    <label class="profession" for="profession">Puesto</label>
                    <input class="profession-input" placeholder="Ej: Front-end Developer" type="text" name="profession"
                        id="profession" required>
                </div>
                <div class="addImage">

                </div>
                <div class="emailCard">
                    <label class="email" for="email">Email</label>
                    <input class="email-input" placeholder="Ej: IdelisaBonnelly@gmail.com " type="email" name="email"
                        id="email" required>
                </div>
                <div class="phoneCard">
                    <label class="phone" for="phone">Teléfono</label>
                    <input class="phone-input" placeholder="Ej: 670-777-444" type="tel" name="phone" id="phone">
                </div>
                <div class="linkedinCard">
                    <label class="linkedin" for="linkedin">Linkedin</label>
                    <input class="linkedin-input" placeholder="Ej: linkedin.com/in/Idelisa.Bonnelly" type="text"
                        name="linkedin" id="linkedin">
                </div>
                <div class="githubCard">
                    <label class="github" for="github">Github</label>
                    <input class="github-input" placeholder="Ej: @Idelisa-Bonnelly" type="text" name="github"
                        id="github">
                </div>
            </form>
        </div>


        <hr class="separationDesign">

        <div class="containerShare">
            <div class="subContainerShare">
                <div><i class="icon fas fa-share-alt"></i></div>
                <div class="textDesign"><span class="textDesign">COMPARTE</span></div>
            </div>
            <div class="subContainer2Share">
                <div><i class="iconDirection fas fa-chevron-down"></i></div>
            </div>
        </div>
        <div class="Center">
            <button class="send"><i class="iconSend far fa-address-card"></i><span class="textButton">CREAR
                    TARJETA</span> </button>
        </div>
        <hr class="separationDesign">


    </div>

</section>