<section class="preview">
    <div class="card">

        <button id="reset" class="reset"> <i class="far fa-trash-alt"></i> reset</button>

        <div class="card colorsCard1" id="cardid">
            <div class="headline">
                <h2 class="name" id="cardname">nombre apellido</h2>
                <h3 class="role">Front-end developer</h3>
            </div>

            <div class="image">
            </div>

            <ul class="socialKit">

                <li class="list hidden" id="btn-phone">
                    <a class="btn" id="phone">
                        <i class="fas fa-mobile-alt" id="icon"></i>
                    </a>
                </li>
                <li class="list hidden" id="btn-email">
                    <a class="btn" id="email">
                        <i class="far fa-envelope" id="icon"></i>
                    </a>
                </li>
                <li class="list hidden" id="btn-linkedin">
                    <a class="btn" id="linkedin" target="_blank">
                        <i class="fab fa-linkedin-in" id="icon"></i>
                    </a>
                </li>
                <li class="list hidden" id="btn-github">
                    <a class="btn" id="github" target="_blank">
                        <i class="fab fa-github-alt" id="icon"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</section>