.inputRequired {
    color: $primaryColor;
}

.errorBorder {
    border: 2px solid $primaryColor !important;
}

#error-message {
    padding-top: 5px;
    font-size: 12px;
    color: $primaryColor;
    text-align: center;
}

.hiddenMessage {
    display: none;
}

.buttonDisabled {
    background-color: grey !important;
    opacity: 0.4 !important;
}

