// PARTE DISEÑA //

.containerSectionStyles{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: start;
    width: 320px;
    padding-right: 30px;
  
    padding-left: 20px;
    padding-bottom: 30px;

    .line-separator{
        height: 1px;
        width: 100%;
        border-bottom: 1px solid #d8d8d8;
    
    }
    .containerDesign{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: $primaryFont;
        color: $metalColor;
        font-size: 18px;
        width: 100%;
        cursor: pointer;
        padding-bottom: 10px;

        .subContainerDesign{
            padding-top: 27px;
            display: flex;
            flex-direction: row;
            font-family: $primaryFont;
            color: $metalColor;
            font-size: 18px; 
            .icon{
               
                color: $primaryColor;
                font-size: 18px;
                width: 21px;
                height: 18px;
                
            }
          
            .textDesign{
                padding-left: 20px;
                font-size: 18px;
               
            }  
        }
        .subContainer2Design{
            padding-top: 27px;
            display: flex;
            flex-direction: row;
            font-family: $primaryFont;
            color: $metalColor;
            font-size: 18px; 
           
        }
    }   
     
        .colorDesign {
           max-height: 0px;
           transition: max-height 0.5s;
           overflow: hidden;
            width: 100%;
            // padding: 22px 0px 10px 0;
            display: flex;
           flex-direction: row;
           justify-content: space-between;
           align-items: flex-start;    
         
            
            
            .textColorsDesign{
              font-family: $primaryFont;
              color: $metalColor;
              font-size: 14px;
              
            }
            .check{
                margin-right: 10px;
                width: 17px;
                height: 17px;
                cursor: pointer;
              } 

            li {
                padding-bottom: 20px; 
                display: flex;
                align-items: center;

            }
            
            .colorPalette1{
               display: inline-flex;
            
                  .containerColorPalette1{
                    display: inline-block;
                  
                      background-color: #114e4e;
                      width: 30px;
                      height: 25px;
                      
                      
                  }
                  .containerColorPalette2{
               
                      display: inline-block;
                      background-color: #438792;
                      width: 30px;
                      height: 25px;
                      
                  }
                  .containerColorPalette3{
               
                      display: inline-block;
                      background-color: #a2deaf;
                      width: 30px;
                      height: 25px;
                      
                      
                  }
                
            }
          
            
            .colorPalette2{
               
                display: inline-flex;
                .containerColorPalette4{
                  display: inline-block;
                  background-color: #420101;
                  width: 30px;
                  height: 25px;
                  
              }
              .containerColorPalette5{
                  display: inline-block;
                  background-color: #bd1010;
                  width: 30px;
                  height: 25px;
                  
              }
              .containerColorPalette6{
                  display: inline-block;
                  background-color: #e95626;
                  width: 30px;
                  height: 25px;
                  
              }
            }
           
            
            .colorPalette3{
                display: inline-flex;
                .containerColorPalette7{
                  display: inline-block;
                  background-color: #3e5b65;
                  width: 30px;
                  height: 25px;
                  
              }
              .containerColorPalette8{
                  display: inline-block;
                  background-color: #eab052;
                  width: 30px;
                  height: 25px;
                  
              }
              .containerColorPalette9{
                  display: inline-block;
                  background-color: #a0c0cf;
                  width: 30px;
                  height: 25px;
                  
              }
            }
        

        }
               
           
        
    
    .separationDesign{
        width: 280px;
        
    }

}

   .containerFillIn{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $primaryFont;
    color: $metalColor;
    font-size: 18px;
    width: 100%;
    border-top: 1px solid #d8d8d8;
    cursor: pointer;
    padding-bottom: 10px;

        .subContainerFillIn{
            display: flex;
            flex-direction: row;
            font-family: $primaryFont;
            color: $metalColor;
            font-size: 18px;
            .icon{
                color: $primaryColor;
                font-size: 18px;
                width: 21px;
                height: 18px;
                padding-top: 10px;
            }
            .textDesign{
                padding-left: 10px;
                padding-top: 10px;
            }
        }
        .subContainer2FillIn{
        
            .iconDirection{
           
            padding-top: 10px;
            }
        }
        
       
    }   

    .containerShare{
        display: flex;
        flex-direction: row;
        font-family: $primaryFont;
        color: $metalColor;
        font-size: 18px;
        width: 100%;
        .subContainerShare{
            .icon{
                color: $primaryColor;
                padding-left: 3px;
                font-size: 18px;
                width: 21px;
                height: 18px;
            }
            .textDesign{
                padding-left: 10px;
            }
        }
    
    }
// PARTE RELLENA //
.formCard{
    max-height: 0px;
    transition: max-height 0.5s;
    overflow: hidden;

    
    .nameCard{
        display: flex;
        flex-direction: column;
        .name{
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #114e4e;
            padding-bottom: 7px;
            padding-top: 25px;
        }
        .name-input{
            width: 281px;
            height: 30px;
            border: solid 1px;
            border-color: #a2deaf;
        }
        *::-webkit-input-placeholder {
            /* Google Chrome y Safari */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *:-moz-placeholder {
            /* Firefox anterior a 19 */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *::-moz-placeholder {
            /* Firefox 19 y superior */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *:-ms-input-placeholder {
            /* Internet Explorer 10 y superior */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
    }
    .professionCard{
        display: flex;
        flex-direction: column;
        .profession{
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #114e4e;
            padding-bottom: 7px;
            padding-top: 20px;
        }
        .profession-input{
            width: 281px;
            height: 30px;
            border: solid 1px;
            border-color: #a2deaf;
        }
        *::-webkit-input-placeholder {
            /* Google Chrome y Safari */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *:-moz-placeholder {
            /* Firefox anterior a 19 */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *::-moz-placeholder {
            /* Firefox 19 y superior */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *:-ms-input-placeholder {
            /* Internet Explorer 10 y superior */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
    }

    .addImage{
        font-family: $primaryFont;
        font-size: 14px;
        line-height: 20px;
        color: #114e4e;
        padding-bottom: 7px;
        padding-top: 20px;
       
    }
    .containerAdd{
        display: flex;
        flex-direction: row;
        

        .addImg{
            margin-right: 20px;
            background-color: #e17334;
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: white;
            border-radius: 3px;
            width: 140px;
            height: 30px;
        }
        .search{
            width: 30px;
            height: 30px;
            border: solid 1px;
            border-color: #a2deaf;
            
        }
    }

    .emailCard{
        display: flex;
        flex-direction: column; 
        .email{
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #114e4e;
            padding-bottom: 7px;
            padding-top: 20px;
        }
        .email-input{
            width: 281px;
            height: 30px;
            border: solid 1px;
            border-color: #a2deaf;
        }
        *::-webkit-input-placeholder {
            /* Google Chrome y Safari */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *:-moz-placeholder {
            /* Firefox anterior a 19 */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *::-moz-placeholder {
            /* Firefox 19 y superior */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *:-ms-input-placeholder {
            /* Internet Explorer 10 y superior */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
    }
    .phoneCard{
        display: flex;
        flex-direction: column; 
        .phone{
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #114e4e;
            padding-bottom: 7px;
            padding-top: 20px;
        } 
        .phone-input{
            width: 281px;
            height: 30px;
            border: solid 1px;
            border-color: #a2deaf;
        }
        *::-webkit-input-placeholder {
            /* Google Chrome y Safari */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *:-moz-placeholder {
            /* Firefox anterior a 19 */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *::-moz-placeholder {
            /* Firefox 19 y superior */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *:-ms-input-placeholder {
            /* Internet Explorer 10 y superior */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
    }
    .linkedinCard{
        display: flex;
        flex-direction: column; 
        .linkedin{
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #114e4e;
            padding-bottom: 7px;
            padding-top: 20px;
        }
        .linkedin-input{
            width: 281px;
            height: 30px;
            border: solid 1px;
            border-color: #a2deaf;
        }
        *::-webkit-input-placeholder {
            /* Google Chrome y Safari */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *:-moz-placeholder {
            /* Firefox anterior a 19 */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *::-moz-placeholder {
            /* Firefox 19 y superior */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
        *:-ms-input-placeholder {
            /* Internet Explorer 10 y superior */
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #c5c5c5;
        }
    }
    .githubCard{
        display: flex;
        flex-direction: column; 
        padding-bottom: 30px;
        .github{
            font-family: $primaryFont;
            font-size: 14px;
            line-height: 20px;
            color: #114e4e;
            padding-bottom: 7px;
            padding-top: 20px;
        }
            .github-input{
                width: 281px;
                height: 30px;
                border: solid 1px;
                border-color: #a2deaf;
            }
            *::-webkit-input-placeholder {
                /* Google Chrome y Safari */
                font-family: $primaryFont;
                font-size: 14px;
                line-height: 20px;
                color: #c5c5c5;
            }
            *:-moz-placeholder {
                /* Firefox anterior a 19 */
                font-family: $primaryFont;
                font-size: 14px;
                line-height: 20px;
                color: #c5c5c5;
            }
            *::-moz-placeholder {
                /* Firefox 19 y superior */
                font-family: $primaryFont;
                font-size: 14px;
                line-height: 20px;
                color: #c5c5c5;
            }
            *:-ms-input-placeholder {
                /* Internet Explorer 10 y superior */
                font-family: $primaryFont;
                font-size: 14px;
                line-height: 20px;
                color: #c5c5c5;
            }
        
       
    }
}

// COMPARTE //
.containerShare{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $primaryFont;
    color: $metalColor;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    padding-bottom: 10px;

    border-top: 1px solid #d8d8d8;
    .subContainerShare{
        display: flex;
        flex-direction: row;
        font-family: $primaryFont;
        color: $metalColor;
        font-size: 18px;
        .icon{
            padding-top: 10px;
        }
        .textDesign{
            padding-top: 10px;
        }
    }
    .subContainer2Share{
        .iconDirection{
            padding-top: 10px;
            
        }
    }

   
   
}

.createCards{
    max-height: 0px;
    transition: max-height 0.5s;
    overflow: hidden;
    margin: auto;
    
    .send{
        margin-top: 30px;
        margin-bottom: 30px;        
        background-color: #e17334;
        border-radius: 12px;
        width: 199px;
        height: 50px;
        .iconSend{
            width: 22px;
            height: 25px;
            color: white;
            
        }
        .textButton{
            font-family: $primaryFont;
            font-size: 18px;
            color: white;
            padding-left: 9px;
        }
        
    }
   

    
}



