.colorPalette1 {
  .headline {
    border-left: solid 5px $bottonColor;

    h2 {
      color: $headerColor;
    }
  }
}

.colorPalette2 {
  .headline {
    border-left: solid 5px $secondPalette;

    h2 {
      color: $secondPaletteText;
    }
  }
}

.colorPalette3 {
  .headline {
    border-left: solid 5px $thirdPalette;

    h2 {
      color: $thirdPaletteText;
    }
  }
}

.coloricon1 {
  .btn {
    border: solid 2px $secondaryColor;

    #icon {
      color: $headerColor;
    }
  }
}

.coloricon2 {
  .btn {
    border: solid 2px $primaryColor;

    #icon {
      color: $secondPaletteText;
    }
  }
}
.coloricon3 {
  .btn {
    border: solid 2px $thidlightPalette;

    #icon {
      color: $thirdPaletteText;
    }
  }
}