/* COLORS */
$mainColor: #000000;
$headerColor: #114E4E;
$bottonColor: #438792; 
$secondaryColor:#a2deaf; 
$lightColor:#f9f4dc; 
$whiteColor:#ffffff;
$primaryColor:#e17334; 
$metalColor: #54585A;

/* FONTS */
$primaryBoldFont: Opensans-semibold;
$primaryFont: Opensans;
$cardFont : Montserrat-Regular;
$cardBoldFont:Montserrat-Bold;
$landingFont: Merriweather-Black;

/*BREAKPOINTS*/
$tablet:768px;
$pc:1200px;



