/* COLORS */
$mainColor: #000000;
$headerColor: #114E4E;
$bottonColor: #438792; 
$secondaryColor:#a2deaf; 
$lightColor:#f9f4dc; 
$whiteColor:#ffffff;
$primaryColor:#e17334; 
$metalColor: #54585A;

/* FONTS */
$primaryBoldFont:'Open Sans';
$primaryFont: 'Open Sans';
$cardFont : 'Montserrat';
$cardBoldFont:'Montserrat';
$landingFont: 'Merriweather';

/*BREAKPOINTS*/
$tablet:768px;
$pc:1200px;



